* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #101827;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #263149;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.gradient-text {
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 90px; 
    line-height: 1.2;
    max-width: 100%;
}

.typed-cursor {
    color: #ffffff;
    font-size: 5rem; 
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 8px 20px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.auth-buttons button:last-child {
    background: #fff;
    color: #0a0f2b;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    padding: 0 50px;
    background: #263149;
    border-radius: 20px;
    margin: 40px;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.heading-wrapper {
    height: 220px; 
    overflow: hidden;
}

.heading-wrapper h1 {
    margin: 0;
}

.static-paragraph {
    font-size: 32px; 
    margin-bottom: 30px;
    position: relative;
}

.buttons {
    display: flex;
    gap: 30px; 
    position: relative;
    z-index: 1;
}

.buttons button {
    padding: 16px 40px; 
    border-radius: 30px; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.entrepreneur-btn {
    background-color: #026181;
    color: #ffffff;
    border: 2px solid #09BBF9;
}

.investor-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #ffffff;
}

.hero-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: url('Images/Wolfu.gif') no-repeat center;
    background-size: cover;
}